<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugar Creek Canine Ranch Booking Form</title>
    <link rel="stylesheet" href="directions.css">
</head>
<body>
    <div class="container">
        <form class="form-group">
            <h1 class="text-center">Sugar Creek Canine Ranch Directions</h1>
            <div id="form">

                <h3>5386 W. 1100 N. Fountaintown, IN 46130</h3>
                <h4> google maps directions</h4>

                
            <div id="input"> 


</body>