<!DOCTYPE html>
<html Lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="contactPage.css">
    <link href="contactPage.css" rel="stylesheet">

    <title>Contact Page for Sugar Creek Canine Ranch</title>
    <h1>Contact Sugar Creek Canine Ranch</h1>
  
  </head>
  <body>
        
    <header style="max-width: 1000px; margin: 0, auto;">
        <topnav class="flex">
          <div class="topnav inline">
            <button class="active page-link" dest="home"><a href="index.html">Home</a></button>
            <button class="page-link" dest="Booking"><a href="bookingPage.html">Booking</a></button>
            <button class="page-link" dest="Intake"><a href="IntakeForm.html">Intake</a></button>
            <button class="page-link" dest="Contact"><a href="contactPage.html">Contact</a></button>
            <button class="page-link" dest="Directions"><a href="directions.html">Directions</a></button>

        </div>
        <i class="mdi mdi-menu"></i>
      </topnav>
      
      
  </body>
</html>